.rightCont {
  height: 38vh;
  width: 4rem;
  padding: 0;
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: 0;
  user-select: none;
}
.email {
  writing-mode: vertical-rl;
  color: #cadefc;
}
